body{
    
  
    background-image: url('./espresso-coffee-639x425.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    font-family: 'Abril Fatface', cursive;
}
.title{
    color: blanchedalmond; 
    text-transform: capitalize; 
    margin-top:10rem;
    border:  solid tan;
}